
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <!-- <li [ngStyle]="appCustomDropdown"> -->
    <!-- <li appCustomDropdown> -->
        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
    <div class="dropdown-menu">
      <a  class="nav-item" href="#">Action</a>
      <a  class="nav-item" href="#">Another action</a>
      <a class="nav-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="nav-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>